body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 500px;
    border: 3px solid blue;
}
h1 {
	color: blue;
}
section {
    padding: 0 2em 1em;
}
label {
	float: left;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
}
span {
	color: red;
}

#future_value {
	background-color: #eee;
}