/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 10px auto;
    width: 450px;
    height: 170px;
    border: 3px solid green;
}
h1 {
	color: black;
    font-size: 1.2em;
}
section {
    padding: 0 2em 1em;
}
label {
	float: left;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
}

#calculate {
    float: right;    
    margin-right: 35px;
    margin-top: 5px;
}