<<<<<<< Updated upstream
/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 800px;
    border: 3px solid blue;
    padding: 10px 20px;
}
section {
    padding: 0 2em 1em;
}
label {
	float: left;
    width: 11em;
    text-align: right;
}
input, select {
    width: 14em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .5em;
}
#buttons input {
	width: 7em;
}
label.error {
	float: none;
	color: red;
	font-size: 87.5%;
}
fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
}
legend {
    color: blue;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}
#expiry_month {
	width: 3em;
}
#expiry_year {
	width: 5em;
	margin: 0;
}
=======
/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 800px;
    border: 3px solid blue;
    padding: 10px 20px;
}
section {
    padding: 0 2em 1em;
}
label {
	float: left;
    width: 11em;
    text-align: right;
}
input, select {
    width: 14em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: .5em;
}
#buttons input {
	width: 7em;
}
label.error {
	float: none;
	color: red;
	font-size: 87.5%;
}
fieldset {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
}
legend {
    color: blue;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}
#expiry_month {
	width: 3em;
}
#expiry_year {
	width: 5em;
	margin: 0;
}
>>>>>>> Stashed changes
