header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}

body {
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;}


/*NEW CSS CODE*/
#gallery {
    border-right: 1px solid #eeeeee;}

h1 { 
	font-size: 120%;
    font-family: "Century Gothic", sans-serif;
    padding-left: 60px;
    padding-bottom: 0px;
}

h2 {
    display: block;
	font-size: 100%;
	padding: .25em 0 0 60px;
    font-family: "Gill Sans MT", sans-serif;
	cursor: pointer; 
    padding-bottom: 0px;
}

#image {
	padding-left: 60px;
    padding-bottom: 20px;
}

li {
    padding-right: 10px;
    display: inline;
}

p.blue {color: blue;
font-size: 200%;}
