header, section, footer, aside, nav, article, figure, figcaption {
    display: block;}

body {
    background-image: url("images/dark-wood.jpg");
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;}

header {
    height: 160px;
   }

nav, footer {
    margin-top: -10px;
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}

nav li {
    display: inline;
    margin-right: 40px;}

nav li a {
    color: #ffffff;}

a {
    text-decoration: none;
} 

nav li a:hover, nav li a.current {
    color: #000000;}

section.courses {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;}

article {
    overflow: auto;
    width: 100%;}

figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;}

figcaption {
    font-size: 90%;
    text-align: left;}            

hgroup {
    margin-top: 40px;}

h2, h3 {
    font-weight: normal;}

h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
  }

h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;}

aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;}

aside h2 {
    padding: 30px 0px 10px 0px;
    color: #de6581;}

aside section a {
    display: block;
    padding:10px;
    border-bottom: 1px solid #eeeeee;}


aside section a:hover {
    color: blue;
    }

#map {
		width: 250px;
		height: 250px;
margin-bottom: 10px;}

footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;}