/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 20px;
	width: 550px;
	border: 3px solid blue;
}
	
h1, h2, ul, p {
	margin: 0;
	padding: 0;
}
h1 {
	padding-bottom: .25em;
}
h2 {
	font-size: 120%;
	padding: .5em 0 .25em;
}
li {
	padding-right: 10px;
	display: inline;
}

