 header, section, footer, aside, nav, article {
    display: block;}

body {
    background-image: url("images/dark-wood.jpg");
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;}
.main {
    height: 500px;    
}

header {
    height: 160px;
   }

nav, footer {
    margin-top: -10px;
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}

nav li {
    display: inline;
    margin-right: 40px;}

nav li a {
    color: #ffffff;}

a {
    text-decoration: none;
} 

nav li a:hover, nav li a.current {
    color: #000000;}

section.main {
    float: left;
    width: 900px;
    border-right: 1px solid #eeeeee;}

article {
    overflow: auto;
    width: 100%;}

#image {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

h1, h2 {
    margin: 10px 0px 5px 10px;
    padding: 0px;
  }

h2 {
    font-weight: normal;}

footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;}


/* the styles for the carousel */
.button_panel	{
	height: 25px;
	padding: 125px 25px 0px 25px;
	float: left;

}
.button_panel img {
	width: 25px;
	height: 25px;

}
#display_panel {
	height: 300px;
	width: 750px;
	overflow: hidden;
	float: left;
}
#image_list {
	left: -35px;
	position: relative;   
    width: 2250px;
    list-style: none;  
}
#image_list li	{
	float: left;
	width: 250px;
}
#image_list li img	{
	width: 245px;
    height: 250px;
}

