 header, section, footer, aside, nav, article {
    display: block;}

body {
    background-image: url("images/dark-wood.jpg");
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;}

nav, footer {
    margin-top: -10px;
    clear: both;
    color: #ffffff;
    background-color: #aeaca8;
    height: 30px;}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;}

nav li {
    display: inline;
    margin-right: 40px;}

nav li a {
    color: #ffffff;}

a {
    text-decoration: none;
} 

nav li a:hover, nav li a.current {
    color: #000000;}

article {
    overflow: auto;
    width: 100%;}


#image_list { 
	display: none;
    margin-left: auto;
    margin-right: auto;
}

#caption {
    font-family: "Gill Sans MT", sans-serif;
    font-size: 1.2em;
    padding-left: 18px;
    
}
#image {
    width: 600px;
    margin-left: auto;
    margin-right: auto; 
}

h1, h2 {
    margin: 10px 0px 5px 10px;
    padding: 0px;
  }

h2 {
    font-weight: normal;}


footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;}

