body, html{
    margin: 0;
    padding: 0;
    font-family: arial, cursive;
    background-color: #ecf0f1;
}

/* Add imported external font to specific titles */
h1, h3, .menu ul li, label, .thankYouMessage, input[type=submit].submitButton, .buttonMore, .buttonShare, .tableFD th{

}

h3{
    font-size: 22px;
}
h5{
    text-align: center;
}

/* Main Section with the width of 960px */
.wrap{
    width: 100%;
    margin: 0 auto;
    margin-top: -20px;
    background-color: white;
    box-shadow: 0px 0px 15px #000;
}


/* Style for the header */
.banner{
    height: 240px;
    background-color: #22303E;
    text-align: center;
}

/*add transition speed and border radius to the following banner img */
.banner a img{
    width: 130px;
    margin-top: 35px;
    border-radius: 50%;
    transition-duration: 0.5s;
}
.banner a img:hover{
    transform: rotate(45deg);
    box-shadow: 0px 0px 10px #fff;
}

/* add css code for hovering the mouse to .banner a img */

.banner h1{
    margin-top: -5px;
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: 100;

}

.banner h1 a{
    text-decoration: none;
    color: white;
    transition: .3s;
}

.banner h1 a:hover{
    color: #00BC9C;
}

.banner p{
    color: white;
    margin-top: -15px;
}
/* End style for the header */

/* Style for the menu */
.menu{
    background-color: #222222;
    height: 35px;
    margin-top: -16px;
    border-bottom: 2px solid black;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: .3s;

}
.menu a.active{
    color:#00BC9C;
}
.menu a:hover {
    color: #16a085;
}

.menu ul{
    padding-left: 20px;
}

.menu ul li{
    display: inline;
    margin-right: 20px;
    line-height: 35px;
}

.menu ul li img{
    height: 25px;
    float: right;
    margin-top: 5px;
    margin-right: 40px;
    cursor: not-allowed;
}
/* End style for the menu */

/* CSS for main content areas */
.content{
    width: 66%;
    float: left;
    padding: 2%;
}

.contentDetails{
    width: 66%;
    float: left;
    padding: 2%;
    height: 630px;
    overflow-y: auto;
    border-bottom: 15px solid white;
}

.contentFullWidth{
    width: 96%;
    float: left;
    padding: 2%;
    height: 640px;
    border-bottom: 15px solid white;
    overflow-y: auto;
}

.contentDetails .textDetails, .contentFullWidth .textDetails{
    padding-left: 15px;
    margin-top: -17px;
}
/* End CSS for main content areas */

/* Inside DIVs and its properties */
.inTheaters, .comingSoon{
    height: 330px;
}

.inTheaters h1, .comingSoon h1, aside h1{
    margin-top: 0px;
    border-bottom: 2px solid #00BC9C;
    font-size: 30px;
}

aside h1{
    margin-top: 8px;
}
/* End Inside DIVs and its properties */

/* Style for movies' posters in index.html */
.movie{
    width: 21%;
    margin: -10px 2% 0 2%;
    text-align: center;
    float: left;
}

/*add transition speed to the following movie img */
.movie img{
    width: 100%;
    margin-bottom: 5px;
    transition: 0.3s;
}
.movie img:hover{
    box-shadow: 0px 0px 10px #000;
}

/* add css code for hovering the mouse to .movie img */
.movie a{
    font-size: 15px;
}

.movie img.ratingStars{
    width: 80%;
    margin-top: 5px;
}
/* End of styles for movies' posters in index.html */

/* Sidebar and sidebar components CSSs  */
aside{
    height: 620px;
    margin-top: 10px;
    padding-left: 1%;
    padding-right: 1%;
    width: 27%;
    float: left;
    border: 1px solid #bdc3c7;
}

.asideDetails{
    border: none;
    background-color: #222;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 1%;
}

.asideDetails img{
    width: 90%;
    margin-top: 25px;
}

.asideDetails img.ratingStarsDetails{
    margin-top: 5px;
    width: 70%
}

.asideDetails p{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.asideDetails p span{
    border-right: 1px solid #1ABC9C;
    font-size: 28px;
    margin-right: 5px;
}

.asideDetails .movieGenre{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    color: white;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 30px
}

.news{
    padding-bottom: 5px;
    border-bottom: 1px solid #bdc3c7;
}

.firstChild{
    margin-top: -14px;
}

.lastChild{
    border-bottom: none;
    margin-bottom: 30px;
}

.news img{
    width: 90px;
    float: left;
    margin: 0 10px 0 0;
}

.news p{
    min-height: 90px;
}

.news p a{
    font-size: 13.5px;
}
/* End of Sidebar and sidebar components CSSs */

/* Style for Buttons */
.buttonMore{
    background-color: #1ABC9C;
    padding: 5px 25px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    border-bottom: 2px solid #34495e;
    float: right;
    margin-top: -15px;
    transition:.3s;
    cursor: not-allowed;
}

.buttonMore:hover{
    background-color: #16a085;
}

.buttonShare{
    background-color: #1ABC9C;
    padding: 5px 75px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 100;
    border-bottom: 2px solid #34495e;
    margin-top: 45px;
    transition:.3s;
    cursor: not-allowed;
}

.buttonShare:hover{
    background-color: #16a085;
}
/* End Style for Buttons */

/* Contact page Design */
.contactLeft{
    width: 33%;
    padding: 0 1%;
    float: left;
}

.contactRight{
    width: 63%;
    padding: 0 1%;
    float: left;
}

.map{
    margin-bottom: 40px;
}

label{
    font-weight: bold;
    font-size: 20px;
}

input, textarea{
    width: 98%;
    height: 20px;
    padding-left: 5px;
    font-size: 15px;
    margin-bottom: 15px;
}

textarea{
    resize: none;
    height: 152px;
}

input[type=submit].submitButton{
    background-color: #1ABC9C;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom: 5px solid #34495e;
    margin-top: 10px;
    margin-right: 14px;
    float: right;
    width: 280px;
    height: 40px;
    cursor: pointer;
}

input[type=submit].submitButton:hover{
    transition:.3s;
    background-color: #16a085;
}
/* End Contact page Design */


/* Thank you page message */
.thankYouMessage{
    text-align: center;
    font-size: 80px;
}

.thankYouMessage span{
    color: #00BC9C;
}
/* End of thank you page message */

.notAllowed{
    cursor: not-allowed;
}

/* Style for the tables */
.tableFD{
    width: 100%;
}

.tableFD,th,td{
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 10px 5px 10px 10px;
    text-align: left;
}

th{
    font-size: 20px;
    font-weight: 100;
}

/* add background color #ecf0f1 to evenRow */
.evenRow{

}

.evenRow, .oddRow{
    transition: .3s;
}

/* add css rule for changing the background color of evenRow and oddRow to #bdc3c7 when we move the mouse over them*/

/* End style for the tables */

.iconFAQ{
    width: 20px;
    margin-right: 5px;
}

#faqs h3{
    padding: 0 0 0 35px;
    cursor: pointer;
}

#faqs div{
    background-color: #ecf0f1;
    border-bottom: 1px solid black;
}

p.closed{
    display: none;
}

p.opened{
    display: block;
}

h3.plus {
    background: url(img/plus.png) no-repeat left center;
    background-position: 1%;
    background-size: 20px;

}
h3.minus {
    background: url(img/minus.png) no-repeat left center;
    background-position: 1%;
    background-size: 20px;
}

.fixHeight{
    height: 285px;
}
.slideshow{
    clear: both;
    width: 100%;
}

#image_list{
    display: none;
}

.topMovies p{
    width: 40%;
    float: left;
}

.topMovies p img{
    width: 90%;
}
.topMovies p h2{
    font-size: 20px;
}

.topMovies ul{
    width: 55%;
    float: left;
    list-style: none;
    padding: 0
}

.topMovies ul li{
    display: inline;
    margin: 0 15px 0 0px;
}

.topMovies ul img{
    width: 20%;
    margin-bottom: 5px;
}
.topMovies ul img:hover{
    transition: .3s;
    box-shadow: 0px 0px 15px #333;
}


/* Footer */
footer{
    clear: both;
    background-color: #22303E;
    color:white;
    text-align: center;
    padding: 7px;
    font-size: 14px;
}
