article, aside, figure, footer, header, nav, section {
    display: block;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
	width: 100%;
	margin: 0 auto;
}
section {
	padding: 15px 25px;
}
img {border: none;
    width: 100%;}

h1 { 
	font-size: 150%;
	margin-bottom: .5em;
}

#dialog {
    display: none;
}