body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 81.25%;
    width: 720px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid blue;
   
}
aside {
	margin: 0;
	padding: 0;
	width: 240px;
	float: left;
	position: absolute;
}
article {
	width: 440px;
	margin-left: 260px;
}
h1, h2, ul, p, a {
    display: block;
	margin: 0;
	padding: 0;
}
h1 {
	padding-bottom: .25em;
	color: blue;
}
h2 {
	font-size: 120%;
	padding: .5em 0 .25em;
}
p {
	padding-bottom: .5em;
}
aside a {
	font-size: 100%;
	padding-bottom: .5em;
}
article p {
	text-indent: 1.5em;
}

